.logOutBtn{
    height: 35px;
    width: 90px;
    background-color: rgb(7, 8, 68);
    color: white;
    font-weight: 700;
    border-radius: 6px;
    border:none
}

.logOutBtn:hover{
    background-color: rgb(81, 83, 184);
}


.menuItem{
    
    
}

.menuBtn{
    text-decoration: none;
    color: rgb(7, 8, 68);
}



.menuBtn:hover{
    color: white
}
.menuItem:hover{
    background-color: rgba(7, 8, 68, 0.541);
}
